[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
ys2wl = "python3 main.py"

[packages]
configargparse = "*"
dateutils = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
jq = "*"
Levenshtein = "*"
python-dateutil = "*"
regex = "*"
retrying = "*"
tzlocal = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
